<%- include('../includes/head.ejs') %>
   <link rel="stylesheet" href="/Styles/404.css">
</head>
<body>
   <div class="main">
      <h1>Page Not Found</h1>
     <img class="photo"  src="/images/404.png" alt="">
   </div>

<%- include('../includes/end.ejs') %>